.wall {
	display: grid;

	grid-template-rows: auto auto auto;
	row-gap: 15px;
	width: 100%;
	margin: 0 auto;
	grid-column: 1/2;

	.createPostForm {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: auto auto;

		.createPostOptions {
			grid-column: 1/3;
			border: 1px solid #d1d1d1;
			border-radius: 0 0 12px 12px;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: end;
			padding: 10px 10px;
			transition: ease-in-out 1s;

			button {
				height: 40px;

				grid-row: 1/2;
				grid-column: 2/3;

				top: 50px;
				right: 10px;
			}
		}


		.visible {
			height: 100px;
			width: 100%;
			position: relative;
			border-bottom: none;
			border-radius: 12px 12px 0 0;
		}

		textarea {
			grid-column: 1/3;
			grid-row: 1/2;
			width: 100%;
			outline: none;
			resize: none;
			border-bottom: none;
			border-radius: 12px;
			height: 40px;
			padding: 10px;
			border: 1px solid #d1d1d1;

		}



	}

	.searchPost {
		display: flex;
		align-items: center;
		justify-content: end;


		img {
			height: 25px;
			cursor: pointer;
		}
	}

	.searchInput {
		display: flex;
		align-items: center;



		input {
			width: 80px;
			margin: 0 5px;
		}

		span {
			font-weight: 700;
			cursor: pointer;

		}

	}

	.postList {
		display: flex;
		flex-direction: column-reverse;
		row-gap: 15px;
		margin-bottom: 200px;
	}
}