.profileHeader {
	border-radius: 12px;
	grid-column: 1/3;
	display: grid;
	grid-template-rows: 250px 115px;


	.profileHeaderMain {
		display: grid;
		grid-template-columns: 200px auto auto;
		grid-template-rows: 35px auto;
		background-color: #fff;
		grid-row: 2/3;
		row-gap: 10px;
		border-radius: 12px;
		position: relative;
		bottom: 10px;
		padding: 15px;


		.avatar {
			position: relative;
			bottom: 110px;

			img {
				border-radius: 50%;
				border: 4px solid #fff;
				width: 190px;
				height: 190px;
				overflow: hidden;
				object-fit: cover;
			}
		}

		.profileOwner {
			font-weight: 600;
			font-size: 18px;
			grid-column: 2/3;
			align-self: end;
		}

		.status {
			font-weight: 500;
			font-size: 14px;
			grid-row: 2/3;
			grid-column: 2/3;
			color: gray;
		}
	}
}