.friendsItem {
	display: flex;
	flex-direction: column;
	align-items: center;


	.avatar {
		display: flex;
		align-items: end;

		img {
			background-color: #e4e2e2;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			margin-bottom: 5px;
		}

		.onlineIndicator {
			background-color: rgb(45, 205, 45);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			outline: 3px solid #fff;
			position: relative;
			bottom: 10px;
			right: 14px;
		}
	}

	.name {}
}