@import './reset-style.scss';
@import './variables.scss';



.App {
	background-color: $bgc;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 70px 1fr;

}

.main {
	padding: 0 15px;
	display: grid;
	grid-template-columns: auto 50% 33%;
	gap: 15px;
	grid-template-rows: 250px 95px auto;

}