.friendsBlock {
	background-color: #fff;
	grid-column: 3/4;
	grid-row: 3/4;
	border-radius: 12px;
	display: grid;
	grid-template-rows: repeat(1fr);
	padding: 15px;
	max-height: 310px;

	.friendsOnline {
		border-bottom: 1px solid lightgray;
		font-weight: 600;
		font-size: 14px;
	}

	.friends {
		font-weight: 600;
		font-size: 14px;
		margin-top: 15px;
	}
}