.header {
	background-color: #fff;
	height: 50px;
	grid-column: 1/-1;

	.content {
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: start;

		.logo {
			img {
				height: 35px;
			}

		}
	}
}