@import './variables.scss';


.post {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	padding: 16px;
	border-radius: 12px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 20px 20px auto 30px;
	white-space: pre-wrap;

	.authorName {
		font-size: 14px;
		color: $color-blue;
		font-weight: 600;
		margin-bottom: 10px;
	}

	.date {
		font-size: 12px;
		color: gray;
		grid-row: 2/3;
	}

	.message {
		font-size: 14px;
		font-weight: 400;
		margin: 10px 0;
		grid-column: 1/3;
		word-wrap: break-word;
		min-height: 20px;
	}

	.likes {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $bgc;
		max-width: 50px;
		border-radius: 13px;
		padding: 2px 0;
		cursor: pointer;
		grid-column-start: 1;


		.likesImg {
			width: 15px;
			margin-right: 5px;
		}

		.likesCount {
			font-size: 13px;
			font-weight: 500;
		}


	}

	.liked {
		background-color: rgba($color: #FF3347, $alpha: 0.3);
		color: red;
	}

	.editForm {
		display: flex;
		width: 100%;

	}

	.invisible {
		display: none;
	}

	.editImg {
		height: 15px;
		justify-self: end;
		grid-row-start: 1;
		grid-column-start: 2;
		cursor: pointer;
		margin-right: 30px;
	}

	.deletePost {
		height: 15px;
		justify-self: end;
		cursor: pointer;
		grid-row-start: 1;
		grid-column-start: 2;
	}
}