.wall {
	display: grid;
	grid-template-columns: auto 100px;
	grid-template-rows: auto auto auto;
	row-gap: 15px;
	width: 100%;
	margin: 0 auto;
	grid-column: 2/3;
	grid-row: 3/4;


	.createPostForm {
		width: 100%;
		display: flex;
		column-gap: 10px;
		grid-column: 1/2;
	}

	.searchPost {
		display: flex;
		align-items: center;
		justify-content: end;


		img {
			height: 25px;
			cursor: pointer;
		}
	}

	.searchInput {
		display: flex;
		align-items: center;



		input {
			width: 80px;
			margin: 0 5px;
		}

		span {
			font-weight: 700;
			cursor: pointer;

		}

	}

	.postList {
		grid-row: 2/-1;
		grid-column: 1/3;
		display: flex;
		flex-direction: column-reverse;
		row-gap: 15px;
	}
}