.searchFriends {
	display: flex;
	align-items: start;

	.searchField {
		width: 100%;
		padding: 9px 15px;
		border: 1px solid #d1d1d1;
		border-radius: 5px 0px 0px 5px;
		border-right: none;
		outline: none;
	}

	.button {
		cursor: pointer;
		border-radius: 0 5px 5px 0px;
		stroke: gray;
		height: 36px;
		width: 60px;
		padding: 5px 10px;
		background-color: #f3f3f3;
		border: 1px solid #d1d1d1;
	}
}